/* Style for CardInfo container */
.p-4 {
    padding: 24px;
    background-color: #f4f5f7;
  }
  
  .ant-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .ant-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  }
  
  h3 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
  }
  
  p {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  